{% extends 'base.html' %}
{% load static %}

{% block title %} Libros del autor  {% endblock %}

{% block navbar_items %}

    <li class="nav-item active">
        <a class="nav-link" href="{% url 'book:user_index' %}">Libros <span class="sr-only">(current)</span></a>
    </li> 
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'autor:autores-user' %}">Autores </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'temas:temas-user' %}">Temas </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'prestamos:prestamos-list' %}">Prestamos</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'usuarios:user-edit' request.user.id %}">Perfil </a>
    </li>


{% endblock %}


{% block content %}
<script>
    var num = localStorage.getItem('biblioteca_id')

</script>


    <div class="container mt-3">
        <div class="table-responsive">    
            <table class="table table-hover table-sm" id="table-controller">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" > #  </th>
                        <th scope="col" > Libro </th>
                        <th scope="col" > Autor </th>
                        <th scope="col" > Tema </th>
                        <th scope="col" > Ubicacion </th>
                        <th scope="col" > Disponibles </th>
                        <th scope="col" > Operaciones </th>
                    </tr>
                </thead>
                <tbody id="tbl_libros_autor">
                    
                </tbody>
            </table>
            {% csrf_token %}
            <input type="hidden" id="id_autor" value={{autor_id}}>
           
        </div>
        <center>
            <a href="{% url 'autor:autores-user' %}" class="btn btn-primary"> Regresar </a>
        </center>
        
    </div>

    <script src="{% static 'js/libros_autor.js' %}"></script>
{% endblock %}