{% extends "base.html" %}

{% block title %} Temas {% endblock %}


<!--  items de navbar de administrador  -->
{% block navbar_items %} 
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'book:user_index' %}">Libros <span class="sr-only">(current)</span></a>
    </li> 
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'autor:autores-user' %}">Autores </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'temas:temas-user' %}">Temas </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'prestamos:prestamos-list' %}">Prestamos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'usuarios:user-edit' request.user.id %}">Perfil </a>
    </li>
{% endblock %}


{% block content %}

    <div class="container">
        <table class="table table-hover mt-4" id="table-controller">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"> # </th>
                    <th scope="col"> Tema </th>
                    <th scope="col"> Fecha ingreso </th>
                    <th scope="col"> Operaciones </th>
                    </tr>
            </thead>
            <tbody>
                {% for tema in Temas %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <th> {{ tema.tema }}</th>
                        <th> {{ tema.fecha_ingreso }} </th>
                        <th> <a href="#" class="btn btn-warning" >Ver  </a></th>
                    </tr>
                    {% empty %}
                    <div class="container mt-2">
                        <li> No existen temas registrados </li>
                    </div>
                
                {% endfor %}
                
            </tbody>
        </table>
    </div>



{% endblock %}