{% extends "base.html" %}
{% load static %}


{% block title %} Crear Usuario {% endblock %}
 
{% block content %}
  
<div>
    <form method="post" enctype="multipart/form-data">
            <div class="form-group col-md-10 mx-auto">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success"> Entrar</button>
        </form>
    </div>  
    {% if messages %}
        {% for message in messages %}
            <h2> Usuario Creado </h2>
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </li>
        {% endfor %}
    {% endif %}
</div>


<script src="{% static 'js/ajustes_usuario.js' %}"></script>


<style>
    .nav-link{
        display: none;
    }
</style>

{% endblock %}