{% extends "base.html" %}
{% load static %}

{% block title %} Editar Perfil {% endblock %}

<!--  items de navbar de administrador  -->
{% block navbar_items %} 
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'book:user_index' %}">Libros <span class="sr-only">(current)</span></a>
    </li> 
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'autor:autores-user' %}">Autores </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'temas:temas-user' %}">Temas </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'prestamos:prestamos-list' %}">Prestamos</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'usuarios:user-edit' request.user.id %}">Perfil </a>
    </li>
{% endblock %}


{% block content %}



    <div class="container mt-5">
        <form method="POST" enctype="multipart/form-data">
            
            <div class="row">
                <div class="col-md-3">
                    <img alt="Responsive image" class="img-thumbnail mb-4" id="perfil_imagen">
                </div>

                <div class="col-md-9">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
            </div>
            
            <div class="container">
                <button type="submit" class="btn btn-primary col-md-5"> Change </button>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                <a href="{% url 'book:user_index' %}" class="btn btn-danger col-md-5"> Cancel </a>
            </div> 
        </form>    
        <input type="hidden" id="user_municipio" value='{{ request.user.municipio }}'>   
        <input type='hidden' id="municipio_id" value='{{ request.user.municipio.id }}'> 
    </div>

<script src="{% static 'js/editar_usuario.js' %}"></script>

{% endblock %}