{% extends "base.html" %}

{% block title %} Detalle {% endblock %}


{% block navbar_items %}
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'book:admin_index' %}"> Libros <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'autor:autores-admin' %}"> Autor </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'temas:temas-admin' %}"> Tema </a>
    </li>
    <li class="nav-item ">
        <a href="{% url 'prestamos:prestamo-admin' %}" class="nav-link"> Prestamos </a>
    </li>
    <li class="nav-item ">
        <a href="{% url 'book:bibliotecas' %}" class="nav-link"> Bibliotecas </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'usuarios:list-users' %}" > Usuarios </a> 
    </li>

{% endblock navbar_items %}


{% block content %}
    <div class="content container">
        
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'usuarios:list-users' %}" class="btn btn-info"> Atras </a>
    </div>

    <script>
        $('input').prop("disabled", true)
        $('#id_imagen').hide()
        $("select").prop("disabled", true)
    </script>

{% endblock %}