{% extends 'base.html' %}

{% block title %} Usuarios {% endblock %}


{% block navbar_items %}

    <li class="nav-item ">
        <a class="nav-link" href="{% url 'book:admin_index' %}"> Libros <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'autor:autores-admin' %}"> Autor </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'temas:temas-admin' %}"> Tema </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'prestamos:prestamo-admin' %}" class="nav-link"> Prestamos </a>
    </li>
    <li class="nav-item active">
        <a href="{% url 'usuarios:list-users' %}" class="nav-link"> Usuarios </a>
    </li>

{% endblock navbar_items %}

{% block content %}

<div class="container mt-3">
    </div>

    <div class="container">
        <div class="table-responsive">
        <table class="table table-hover mt-4" id="table-controller">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"> # </th>
                    <th scope="col"> Nombres </th>
                    <th scope="col"> Apellidos </th>
                    <th scope="col"> Departamento </th>
                    <th scope="col"> Libros </th>
                    <th scope="col"> Estado </th>
                    <th scope="col"> Operaciones </th>
                </tr>
            </thead>
            <tbody>
                {% for user in Users %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <th> {{ user.first_name }}</th>
                        <th> {{ user.last_name }} </th>
                        <th> {{ user.municipio }} </th>
                        <th>  .. En espera </th>
                        <th> {{ user.estado }} </th>
                        <th> <a href="{% url 'usuarios:user-detail' user.id %}" class="btn btn-warning"> Ver </a> </th>

                    </tr>
                    {% empty %}
                    <div class="container mt-2">
                        <li> No existen usuarios registrados </li>
                    </div>
                
                {% endfor %}
                
            </tbody>
        </table>
        </div>
        <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}

                        <li class="page-item"> <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"><span class="page-link">&laquo; </span> </li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active page-item"><span class="page-link"> {{ i }} <span class="sr-only">current</span></span></li>
                        {% else %}
                            <li class="page-item"><a href="?page={{ i }}" class="page-link"> {{ i }} </a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
                    {% else %}
                        <li class="disabled" class="page-item"> <span class="page-link">&raquo;</span> </li>
                    {% endif %}
                </ul>
            </nav>
    </div>
{% endblock %}