{% extends "base.html" %}

{% block title %} Detalle {% endblock %}


{% block navbar_items %}
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'book:admin_index' %}"> Libros <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'autor:autores-admin' %}"> Autor </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'temas:temas-admin' %}"> Tema </a>
    </li>
    <li class="nav-item ">
        <a href="{% url 'prestamos:prestamo-admin' %}" class="nav-link"> Prestamos </a>
    </li>
    <li class="nav-item ">
        <a href="{% url 'book:bibliotecas' %}" class="nav-link"> Bibliotecas </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'usuarios:list-users' %}" > Usuarios </a> 
    </li>

{% endblock navbar_items %}


{% block content %}

    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <label style="font-size: 25px;"> Foto de perfil</label>
                <img alt="Responsive image" class="img-thumbnail mb-4" id="perfil_imagen">
            </div>
            <div class="col-md-9">
            {% csrf_token %}
            {{ form.as_p }}
            <center>
            <a href="{% url 'usuarios:list-users' %}" class="btn btn-info col-md-6"> Atras </a>
            </center>
            </div>
        </div>
    </div>


    <script>
        $('input').prop("disabled", true)
        $('#id_imagen').hide()
        $("select").prop("disabled", true)

        
        
        var atributo = document.querySelectorAll('a')
        // atributo.setAttribute('id', 'nombre')
        atributo.forEach((elemento, index) => {
            if (index == 8 ){
                elemento.setAttribute('id', 'nombre')
            }
        })
        
        var href = document.getElementById('nombre')
        var nuevo = href.getAttribute('href')
        console.log(nuevo)
        document.getElementById('perfil_imagen').setAttribute('src', nuevo)

      
        
        
    </script>

{% endblock %}