{% extends "base.html" %}

{% block title %} Bibliotecas {% endblock %}

{% block navbar_items %}

    <li class="nav-item ">
        <a class="nav-link" href="{% url 'book:admin_index' %}"> Libros <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'autor:autores-admin' %}"> Autor </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'temas:temas-admin' %}"> Tema </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'prestamos:prestamo-admin' %}" class="nav-link"> Prestamos </a>
    </li>
    <li class="nav-item active">
        <a href="{% url 'book:bibliotecas' %}" class="nav-link"> Bibliotecas </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'usuarios:list-users' %}" > Usuarios </a> 
    </li>

{% endblock navbar_items %}

{% block content %}

    <div class="container">
        <a href="{% url 'book:crear-biblioteca' %}" class="btn btn-info mt-4"> Crear biblioteca</a>
    </div>

    <div class="container mt-3">
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col"> # </th>
                        <th scope="col"> Nombre </th>
                        <th scope="col"> Descripcion </th>
                        <th scope="col"> Ubicacion </th>
                        <th scope="col"> Latitud </th>
                        <th scope="col"> Longitud </th>
                    </tr>
                </thead>
                <tbody>
                    {% for biblioteca in Bibliotecas %}
                    <tr>
                        <th scope="col"> {{ forloop.counter }} </th>
                        <th> {{ biblioteca.nombre }} </th>
                        <th> {{ biblioteca.descripcion }} </th>
                        <th> {{ biblioteca.ubicacion }} </th>
                        <th> {{ biblioteca.latitud }} </th>
                        <th> {{ biblioteca.longitud }} </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}