{% extends "base.html" %}

{% block title %} Crear Libro {% endblock %}

{% block navbar_items %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'book:admin_index' %}"> Libros <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'autor:autores-admin' %}"> Autor </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'temas:temas-admin' %}"> Tema </a>
</li>
<li class="nav-item">
    <a href="{% url 'prestamos:prestamo-admin' %}" class="nav-link"> Prestamos </a>
</li>
<li class="nav-item">
    <a href="{% url 'book:bibliotecas' %}" class="nav-link"> Bibliotecas </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'usuarios:list-users' %}" > Usuarios </a> 
</li>

{% endblock %}

{% block content %}

    <center>
    <div class="container mt-3">
        
        <form method="POST">
            <div class="col-md-6">
            {% csrf_token %}
            {{ form.as_p }}
            
        </div>
        <div class="container">
                <button type="submit" class="btn btn-success col-md-3"> Hecho </button>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <a href="{% url 'book:admin_index' %}" class="btn btn-warning col-md-3"> Atras </a>
            </div>
        </form>
    </center>

    </div>

   

{% endblock %}