{% extends "base.html" %}


{% block navbar_items %} 
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'book:user_index' %}">Libros <span class="sr-only">(current)</span></a>
    </li> 
    <li class="nav-item  ">
        <a class="nav-link" href="{% url 'autor:autores-user' %}">Autores </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'temas:temas-user' %}">Temas </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'prestamos:prestamos-list' %}">Prestamos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'usuarios:user-edit' request.user.id %}">Perfil </a>
    </li>

{% endblock %}

{% block title %}  Libros {% endblock %}


{% block content %}

    <div class="container mt-3">
        <div class="table-responsive-md">
            <table class="table table-hover table-sm text-center" id="table-controller">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" > #  </th>
                        <th scope="col" > Libro </th>
                        <th scope="col" > Autor </th>
                        <th scope="col" > Tema </th>
                        <th scope="col" > Ubicacion </th>
                        <th scope="col" > Disponibles </th>
                        <th scope="col" > Operaciones </th>
                    </tr>
                </thead>
                <tbody>
                    {% for libro in Libro %}
                    <tr>
                        <th scope="col"> {{ forloop.counter }} </th>
                        <th> {{ libro.titulo }} </th>
                        <th> {{ libro.autor }} </th>
                        <th> {{ libro.tema }} </th>
                        <th> {{ libro.ubicacion }} </th>
                        <th> {{ libro.disponibles }} </th>
                        
                        {% if libro.disponibles > 0 %}
                            <th> <a href="{% url 'prestamos:pre-prestamo' libro.id %}" class="btn btn-info"> Prestar </a> </th>
                        {% else %}
                            <th> No disponible </th>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}