{% extends "base.html" %}

{% block title %} Detalle de prestamo {% endblock title %}



{% block content %}

    <div class="container w-50 mt-5">
        
        <table class="table table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"> Clasificacion</th>
                    <th scope="col"> Libro </th>
                </tr>
                <tbody>
                    <tr class="justify-content-center">
                        <th> Libro </th>
                        <th> {{ object.titulo }} </th>
                       
                    </tr>
                    <tr>
                        <th> Autor </th>
                        <th> {{ object.autor }} </th>

                    </tr>
                    <tr>
                        <th> Tema </th>
                        <th> {{ object.tema }} </th>

                    </tr>
                    <tr>
                        <th> Ubicacion </th>
                        <th> {{ object.ubicacion }} </th>

                    </tr>
                    <tr>
                        <th> Disponibles </th>
                        <th> {{ object.disponibles }} </th>

                    </tr>
                    <tr>
                        <th> Fecha de prestamo </th>
                        <th> {{ fecha_prestamo.day }} / {{ fecha_prestamo.month}} / {{ fecha_prestamo.year}} </th>

                    </tr>
                    <tr>
                        <th> Fecha de devolucion </th>
                        <th> {{ fecha_devolucion }} </th>
                    </tr>
                </tbody>

            </thead>

        </table>
       
       <form method="POST">
           {% csrf_token %}
           <input type="hidden" name='book_id' value="{{ object.id }}">
           <input type="hidden" name='token' id="token">
           <button type="submit"> Prestar </button>
       </form>


<h1> {{ Usuario.email }}  </h1>

<script>
    var allowed_chars = ['a', 'b','c','d','e','f','g','h','k','m','n','p','q','r','s','t','u','v','x','y','z',
                        'A', 'B','C','D','E','F','G','H','K','M','N','P','Q','R','S','T','U','V','X','Y','Z',
                        '1','2','3','4','5','6','7','8','9']

    var token = "";

    for(var i=0; i<15; i++){
        var numero = Math.floor(Math.random() * allowed_chars.length)
        token += allowed_chars[numero]
    }

    $('#token').val(token)

</script>

    </div>
  



{% endblock  %}

